<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    

<!--     &lt;!&ndash;Temporary static libraries &ndash;&gt;
     Latest compiled and minified CSS
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

   &lt;!&ndash;  jQuery library &ndash;&gt;
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

     &lt;!&ndash;Popper JS &ndash;&gt;
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

 &lt;!&ndash;    Latest compiled JavaScript &ndash;&gt;
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
     &lt;!&ndash;Temporary static libraries&ndash;&gt; -->


    <style>
        body{
            background-color: rgba(190, 253, 253, 0.651);
        }
    </style>

    <title>Collaboration</title>
</head>
<body>



    <div class="container ">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <!-- Brand -->
                <a class="navbar-brand ml-lg-4 mr-lg-4 m-sm-auto " th:href="@{/}">Collaboration</a>

                <!-- BUtton for small screens -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-lg-4 p-lg-0 m-sm-auto ">
                        <a class="nav-item nav-link active" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="#">Features</a>
                        <a class="nav-item nav-link" href="#">Pricing</a>
                        <a class="nav-item nav-link disabled" href="#">Disabled</a>
                        
                    </div>

                    <div sec:authorize="isAuthenticated()" style="color:white;" class="ml-auto mx-sm-0 p-0">
                        Hello,  <span sec:authentication="name" >user-name</span>
                        <!--<a class="btn btn-danger m-1" th:href="@{/logout}">Log out</a>-->
                        <a href="javascript: document.logoutForm.submit()" role="menuitem" class="btn btn-danger m-1"> Logout</a>

                        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                            <input hidden type="submit" value="Sign Out"/>
                        </form>
                    </div>
                    <div sec:authorize="!isAuthenticated()" >
                        <a class="btn btn-success m-1" th:href="@{/login}" >Log in</a>
                        <button type="button" class="btn btn-outline-success m-1">Sign up</button>
                    </div>

                </div>
        </nav>
    </div>


</body>

</html>