<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"  >
<head>
    <meta charset="UTF-8">
    <title th:text="${user.username}">username</title>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <!--for calendar-->
    <link rel="stylesheet" th:href="@{/css/mini-event-calendar.min.css}" charset="UTF-8">


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="UTF-8"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}" charset="UTF-8"></script>


    <!--&lt;!&ndash; Temporary static libraries &ndash;&gt;-->
    <!--&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">-->

    <!--&lt;!&ndash; jQuery library &ndash;&gt;-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="UTF-8"></script>-->

    <!--&lt;!&ndash; Popper JS &ndash;&gt;-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" charset="UTF-8"></script>-->

    <!--&lt;!&ndash; Latest compiled JavaScript &ndash;&gt;-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" charset="UTF-8"></script>-->


    <!-- Temporary static libraries -->

    <style>
        html,body{
            height: 100%;
            background-color: rgba(190, 253, 253, 0.651);
        }
        #calendar{
            background-color: #6cd4ff;
            color: black;
        }

    </style>


</head>

<body class="h-100">
    <div class="container-fluid h-100">
        <div class="row h-100">


            <div class="col" id="left">

                    <div class="container-full p-4">
                    <h1>Your profile</h1>
                    <img th:src="${user.profileImage}">
                    <span th:text="${user.username}">nazwa użytkownika</span><br/>
                    <span th:text="${user.firstName}">imię</span>
                    <span th:text="${user.lastName}">nazwisko</span><br/>
                    <span th:text="${user.email}">adres e-mail</span>
                    <span th:text="${user.password}">haslo</span>
                    </div>



                    <div>
                        <h2>
                        <ul>
                        <li><a href="#">Tasks</a></li>
                        <li><a href="#">Agenda</a></li>
                        </ul>
                        </h2>
                    </div>

                    <div id="calendar">
                        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                                crossorigin="anonymous" charset="UTF-8">
                        </script>

                        <!--js for calendar-->
                        <script th:src="@{/js/mini-event-calendar1.js}" charset="UTF-8"></script>

                        <script charset="UTF-8" th:inline="javascript">

                         /*<![CDATA[*/


                         /*[+

                            var myEvents = [ ];


                            var events_length = [[${user.calendar.events.size()}]];
                            var events = [[${user.calendar.events}]];

                            console.log(events);

                              for(var i=0; i<events_length; i++){
                                myEvents.push({
                                    title: events[i].title,
                                    date: new Date(events[i].dateTime).getTime(),
                                    link: "https://google.com"
                                });
                            }

                            console.log(myEvents);




                            $("#calendar").MEC({
                                calendar_link: "jqueryscript.net", // calendar link
                                events: myEvents
                            });

                         +]*/

                         /*]]>*/

                        </script>

                    </div>

            </div>



            <div class="col-6 p-0 h-100" id="center-container">
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark " style="height: 7%">
                    <!-- Brand -->
                    <a class="navbar-brand ml-lg-4 mr-lg-4 m-sm-auto text-light" th:href="@{/}">Cockpit</a>

                    <!-- BUtton for small screens -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav ml-lg-4 p-lg-0 m-sm-auto ">
                            <a class="nav-item nav-link " th:href="@{/}">Project1 <span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link" href="#">Project2</a>
                            <a class="nav-item nav-link" href="#">Project3</a>
                            <!-- <a class="nav-item nav-link disabled" href="#">Disabled</a> -->

                        </div>

                        <div sec:authorize="isAuthenticated()" style="color:white;" class="ml-auto mx-sm-0 p-0">
                            Hello,  <span sec:authentication="name" >user-name</span>
                            <!--<a class="btn btn-danger m-1" th:href="@{/logout}">Log out</a>-->
                            <a href="javascript: document.logoutForm.submit()" role="menuitem" class="btn btn-danger m-1"> Logout</a>

                            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                                <input hidden type="submit" value="Sign Out"/>
                            </form>
                        </div>
                        <div sec:authorize="!isAuthenticated()" >
                            <a class="btn btn-success m-1" th:href="@{/login}" >Log in</a>
                            <button type="button" class="btn btn-outline-success m-1">Sign up</button>
                        </div>

                    </div>

                </nav>

                <div class="container" style="background-color:#b6dbff; height: 93%">
                    <h1>Lorem ipsum</h1>
                </div>

            </div>

            <div class="col p-auto p-0" id="right">
                <!-- <img src="Y:\UP KMIK\Praca licencjacka\Left_Rect.svg" alt="Left_Rect.svg"> -->
                <h1>Right column  </h1>
            </div>



        <!-- row     -->
        </div>
    <!-- main container -->
    </div>

</body>

</html>